body {
    font-family: Arial, sans-serif;
}

.main{
    margin: 0 20px;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px  #1c3c54;
    height: 12vh;
    margin-bottom: 20px;
}

nav img{
    width: 70px;
    height: 70px;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 60px;
    background: #1c3c54;
    padding: 0 25px;
    border-radius: 50px;
}
nav ul a{
    text-decoration: none;
    color: white;
}

section{
    background: #1c3c54;
    height: 80vh;
    border-radius: 25px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 50px;
}

section .textPart{
    width: 50%;
    height: 60%;
}

section .textPart h1{
    font-size: 40px;
    margin-bottom: 15px;
}

section .textPart .description{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    height: 60px;
    margin-bottom: 25px;
}

section .textPart .description img{
    height: 40px;
    margin-top: 15px;
}

section .textPart .forButton{
    display: flex;
    justify-content: center;
    height: 40px;
}

section .textPart .forButton a button{
    height: 100%;
    width: 150px;
    border-radius: 20px;
    outline: none;
    font-weight: bold;
    color: #1c3c54;
}

section .imagePart{
    width: 50%;
    height: 100%;
}

section .imagePart img{
    width: 100%;
    height: 100%;
}

/* Prediction */
.predict{
    display: flex;
    gap: 5%;
}
.formPart{
    color: white;
    background: #1c3c54;
    height: 80vh;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    width: 45%;
}
.formPart #predictionForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.formPart #predictionForm div{
    gap: 1px;
    height: 10%;
}

.formPart #predictionForm div input{
    height: 45%;
    border-radius: 10px;
    outline: none;
}
.formPart #predictionForm div select{
    height: 55%;
    border-radius: 10px;
}
.formPart #predictionForm .forButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.formPart #predictionForm .forButton button{
    height: 30px;
    width: 150px;
    overflow: hidden;
    border-radius: 10px;
}

.FormImage{
    width: 50%;
    height: 80vh;
}

.FormImage img{
    width: 100%;
    height: 100%;
}
.formPart #predictionForm div{
    display: flex;
    flex-direction: column;
}

/* Resultat */
.result-container {
    text-align: center;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 50px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #1c3c54;
}

.result-container h2 {
    margin-bottom: 15px;
}

.result-container p {
    font-size: 18px;
    font-weight: bold;
}
/* About page */
.about-container{
    height: 82vh;
    width: 500px;
}

.circle-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.circle {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    position: relative;
    color: #1c3c54;
}
.circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 10px solid;
    box-sizing: border-box;
}

.about-container{
    display: flex;
    height: 82vh;
    width: 100%;
    display: flex;
}
.about-container h1{
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
}
.about-container .teamImage{
    width: 100%;
    height: 100%;
    background: #f8f9fa;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.about-container .teamImage h1{
    text-align: center;
    color: #1c3c54;
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    
}
.about-container .teamImage img{
    width: 100%;
    height: 80%;
    border-radius: 50%; 
}
.about-container .about-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 0 150px;
    width: 95%;
    background: #1c3c54;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: justify;
}
.about-container .about-description h1{
    margin-bottom: 5px;
}
.about-container .team-list{
    width: 100%;
}
.about-container .team-list ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}